In [23]:
import numpy as np
import pandas as pd

In [25]:
f = pd.read_csv(r"Raw Sales Data.csv")

# 1. Monthwise number of quantities sold

In [29]:
f.insert(1,column="mon", value= f["Month"].str.split("-").str[1])

In [31]:
def mon(text):
    return text.split("-")[1]

In [33]:
f["Qty"] = f["Qty"].str.replace(",","").astype(int)

In [35]:
q1 = f.groupby("mon")[["Qty"]].sum()
q1

       Qty
mon
Dec  85427
Feb  76393
Jan  67732
Mar  80229

# 2. Category wise Qty sold

In [39]:
q2 = f.groupby("Category")[["Qty"]].sum()
q2

                         Qty
Category
Functional nutrition   42354
Gourmet Nutrition      89279
Juices                178148

# 3. Sub-channel wise total sales

In [43]:
f["Sales"] = f["Sales"].str.replace(",","").astype(int)

In [45]:
q3 = f.groupby("Sub-Channels")[["Sales"]].sum()
q3

                      Sales
Sub-Channels
AMAZON             35606804
Big Basket          1207522
D2C                28047538
Flipkart            3770415
GOQII                582600
Offline - Central    375332
Offline - East       811146
Offline - MT        6257948
Offline - South     3446395
Offline - West      6441427
Offline -North      1206564

# 4. Highest sale in which month

In [49]:
high = f.groupby("mon")[["Sales"]].sum()
high

        Sales
mon
Dec  19738841
Feb  21492370
Jan  21394653
Mar  25127827

In [51]:
q4 = high.loc[high.idxmax()]

In [53]:
q4

        Sales
mon
Mar  25127827

# 5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [58]:
a = f["Product Name"].to_list()

In [94]:
ls = []

for item in a:
    part = item.split()
    name = " ".join(part[:-2])
    ls.append(name)

In [96]:
f["Product"] = ls

In [64]:
x = f.groupby("Product")[["Sales"]].sum()

In [66]:
x.max()

Sales    12249252
dtype: int32

In [68]:
q5 = x.loc[x.idxmax()]
q5

                          Sales
Product
ALOE + GARCINIA JUICE  12249252

# 6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [101]:
k = f["Product"].unique()

In [74]:
k

array(['ALOE + AMLA JUICE', 'ALOE + GARCINIA JUICE', 'ALOE VERA JUICE',
       'ALOE VERA SKIN GEL', 'NEEM JUICE', 'NONI JUICE',
       'SLIM SHAKE - CHOCOLATE', 'SLIM SHAKE - MANGO', 'TRIPHALA JUICE',
       'TULSI GILOY JUICE', 'WHEAT GRASS JUICE', 'AMLA JUICE',
       'GET SLIM JUICE', 'HIMALAYA OIL', 'VIGOR MAX JUICE',
       'ORGANIC JAGGERY POWDER', 'APPLE CIDER', 'VIRGIN COCONUT OIL',
       'KARELA JAMUN JUICE', 'MASALA SUPERGRAIN MIX ENERGY 380 GM',
       'MASALA SUPERGRAIN MIX IMMUNITY 400 GM', 'AMLA + GILOY JUICE',
       'DIA FREE JUICE', 'IMMUNE CARE JUICE',
       'MASALA SUPERGRAIN MIX IMMUNITY', 'ORGANIC',
       'VEGAN PROTEIN - CHOCOLATE', 'GET SLIM CAPSULES',
       'RAW HONEY ( MADHU)'], dtype=object)

In [76]:
q6 = pd.DataFrame(k)

In [78]:
len(k)

29

# 7. Create a single excel file to save all the outputs generated above in different subsheets.

In [81]:
blank = pd.ExcelWriter("New_fmcg.xlsx")
q1.to_excel(blank, sheet_name="Month Wise Quantity Sold")
q2.to_excel(blank, sheet_name="Category Wise Quantity Sold")
q3.to_excel(blank, sheet_name="Sub-channel wise Sales")
q4.to_excel(blank, sheet_name="Highest Sales(month)")
q5.to_excel(blank, sheet_name="Highest Selling Product")
q6.to_excel(blank, sheet_name="List of different Product", index=False)
blank.close()

,Month,mon,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Product
0,01-Dec-20,Dec,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,ALOE + AMLA JUICE
1,01-Dec-20,Dec,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,ALOE + GARCINIA JUICE
2,01-Dec-20,Dec,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,ALOE VERA JUICE
3,01-Dec-20,Dec,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,ALOE VERA SKIN GEL
4,01-Dec-20,Dec,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,NEEM JUICE
...,...,...,...,...,...,...,...,...,...
219,01-Mar-21,Mar,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,ORGANIC
220,01-Mar-21,Mar,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,ALOE + GARCINIA JUICE
221,01-Mar-21,Mar,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,AMLA JUICE
222,01-Mar-21,Mar,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,GET SLIM JUICE
223,01-Mar-21,Mar,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,RAW HONEY ( MADHU)